<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/1a33788db9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{'/css/buttonsStyling.css'}">
    <meta charset="UTF-8">
    <title>Nav bar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-md-8 offset-md-2">
                <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                        <li sec:authorize="isAuthenticated()" class="nav-item dropdown text-start">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                               aria-expanded="false" id="notificationContainerAnchor"><i class="fa-regular fa-bell"></i></a>
                            <div class="dropdown-menu d-flex flex-column justify-content-around hide"
                                 id="notificationContainer">
                                <div class="dropdown-item notificationItem"
                                th:each="notification: ${userNotifications}">
                                    <div class="d-flex">
                                        <div th:text="${notification}" id="notificationText"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/mainPage}">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/userProfile}">Профил</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/searchPage}">Търси</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                               aria-expanded="false">Още</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Контакти</a></li>
                                <li><a class="dropdown-item" href="#">За нас</a></li>
                                <li><a class="dropdown-item" href="/getAddRecipeForm">Добави рецепта</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link active" th:href="@{/adminPage}">ADMIN</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div sec:authorize="isAnonymous()" class="col-md-2 text-end d-flex">
                <a th:href="@{/users/login}">
                    <button type="button" class="btn btn-outline-warning btn-md px-4 me-sm-3 fw-bold"
                            style="width: 110px">Вход
                    </button>
                </a>
                <a th:href="@{/users/register}">
                    <button type="button" class="btn btn-outline-warning btn-md px-4 me-sm-3 fw-bold"
                            style="width: fit-content">Регистрация
                    </button>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()" class="text-end" id="logoutBtn">

                <form th:method="post"
                      th:action="@{/logout}">
                    <button type="submit" class="btn btn-outline-warning btn-md px-4 me-sm-3 fw-bold" value="Logout"
                    >Изход
                    </button>

                </form>
            </div>
        </div>
    </div>
</nav>
<script>
    const notificationContainer = document.getElementById('notificationContainer');
    const notificationAnchor = document.getElementById('notificationContainerAnchor');


    notificationAnchor.addEventListener('click', function (event) {
        event.stopPropagation();
        notificationContainer.classList.toggle('hide');
    });

    document.addEventListener('click', function (event) {
        if (!notificationContainer.classList.contains('hide') && !notificationContainer.contains(event.target) && event.target !== notificationAnchor) {
            notificationContainer.classList.add('hide');
        }
    });
</script>
</body>
<style>
    .btn {
        color: black;
    }

    #logoutBtn {
        width: auto;
    }

    #notificationContainer {
        width: 350px;
        background: aliceblue;
    }

    .notificationItem {
        height: 60px;
    }

    .border {
        border-top: 1px gray solid;
    }
    .hide {
        display: none!important;
    }
    #notificationText{
        font-size: 14px;
    }
</style>
</html>