<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular recipes</title>
</head>
<body>
<div class="album py-5">
    <h2 id="popularRecipesAlbumHeader">Популярни рецепти</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="/images/popular_recipes_images/tortilla.jpg" alt="#"/>
                    <div class="card-body">
                        <p class="card-text">Тортила с пиле и домашен сос</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/recipe" method="get">
                                    <input type="hidden" name="title" value="Тортила с пиле и домашен сос"/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm px-4 me-sm-3 fw-bold">Виж рецептата</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="/images/popular_recipes_images/banitsa.jpg" alt="#"/>
                    <div class="card-body">
                        <p class="card-text">Домашна дърпана баница с яйца и сирене</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/recipe" method="get">
                                    <input type="hidden" name="title" value="Домашна дърпана баница с яйца и сирене"/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm px-4 me-sm-3 fw-bold">Виж рецептата</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="/images/popular_recipes_images/meatballs_with_mash_potatoes.jpg" alt="#"/>
                    <div class="card-body">
                        <p class="card-text">Кюфтенца с картофено пюре</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/recipe" method="get">
                                    <input type="hidden" name="title" value="Кюфтенца с картофено пюре"/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm px-4 me-sm-3 fw-bold">Виж рецептата</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="/images/popular_recipes_images/sauteed_prawns.jpg" alt="#"/>
                    <div class="card-body">
                        <p class="card-text">Скариди на тиган</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/recipe" method="get">
                                    <input type="hidden" name="title" value="Скариди на тиган"/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm px-4 me-sm-3 fw-bold">Виж рецептата</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="/images/popular_recipes_images/club_sandwich.jpeg" alt="#"/>
                    <div class="card-body">
                        <p class="card-text">Клуб Сандвич</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/recipe" method="get">
                                    <input type="hidden" name="title" value="Клуб Сандвич"/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm px-4 me-sm-3 fw-bold">Виж рецептата</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="/images/popular_recipes_images/muffins_with_yougurt.jpg" alt="#"/>
                    <div class="card-body">
                        <p class="card-text">Пухкави ванилови мъфини с кисело мляко</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/recipe" method="get">
                                    <input type="hidden" name="title" value="Пухкави ванилови мъфини с кисело мляко"/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm px-4 me-sm-3 fw-bold">Виж рецептата</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
<style>
    .col {
        padding-left: 20px;
        max-width: 490px !important;
    }

    #popularRecipesAlbumHeader {
        text-align: center;
        margin-bottom: 20px;
    }
</style>
</html>