<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Search bar</title>
    <link rel="stylesheet" th:href="@{'/css/buttonsStyling.css'}">
    <link rel="stylesheet" th:href="@{'/css/searchBar.css'}">
</head>
<body>

<div class="container my-5" id="searchBar">
    <div class="d-flex justify-content-center mb-4" style="position: relative">
        <button id="productSearchBtn" class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold me-2 btnHover">
            Search by products
        </button>
        <button id="recipeSearchBtn" class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold btnHover">
            Search by recipe name
        </button>
    </div>
    <form id="searchForm" action="/search" method="get" >
        <input type="hidden" id="searchType" name="searchType" value="product">
        <div id="productSearch" class="search-section">
            <h2>Search by products</h2>
            <input type="text" class="form-control" name="productName" placeholder="Въведи продукт/продукти..">
        </div>
        <div id="recipeSearch" class="search-section d-none">
            <h2>Search by recipe name</h2>
            <input type="text" class="form-control btnLike" name="recipeName" placeholder="Въведи име на рецепта">
        </div>
        <div style="position: relative">
        <button type="submit" class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold searchButton btnHover">Search</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('productSearchBtn').addEventListener('click', function () {
        document.getElementById('productSearch').classList.remove('d-none');
        document.getElementById('recipeSearch').classList.add('d-none');
        document.getElementById('searchType').value = 'product';
    });

    document.getElementById('recipeSearchBtn').addEventListener('click', function () {
        document.getElementById('recipeSearch').classList.remove('d-none');
        document.getElementById('productSearch').classList.add('d-none');
        document.getElementById('searchType').value = 'recipe';
    });
    document.getElementById('productSearchBtn').addEventListener('click', function () {
        this.classList.add('btn-selected');
        document.getElementById('recipeSearchBtn').classList.remove('btn-selected');
    });

    document.getElementById('recipeSearchBtn').addEventListener('click', function () {
        this.classList.add('btn-selected');
        document.getElementById('productSearchBtn').classList.remove('btn-selected');
    });

    const buttons = document.querySelectorAll('.btn');
    buttons.forEach(button => {
        button.addEventListener('click', function (e) {
            if (!button.classList.contains('searchButton')) {
                // Uncomment this line to prevent the form from submitting
                // e.preventDefault();
            }
            button.classList.add("animate");
            setTimeout(() => {
                button.classList.remove("animate");
            }, 600);
        });
    });
</script>

</body>
</html>