body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #f8f3ef 66.67%, transparent 33.33%), url('/images/mainBG-img.jpg');
    background-size: 100% 100%, cover;
    background-repeat: repeat-y;
}

* {
    font-family: 'Lobster', sans-serif;
}

a{
    text-decoration: none;
    color: brown;
}
