<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/css/mainStyling.css'}">
    <meta charset="UTF-8">
    <title>Single recipe result page</title>
</head>
<body>
<div th:replace="~{fragments/navBar}"></div>

<div th:replace="~{fragments/search-bar}"></div>

<div id="results" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div id="recipeResult" data-recipe-id="${recipe.id}">
        <div class="d-flex justify-content-around">
            <h3 th:text="${recipe.name}">Recipe Name</h3>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${favoritesMap[recipe.id] != true}">
                    <form id="addToFavoriteForm" th:action="@{/addToFavorite}" method="post">
                        <input type="hidden" name="recipeId" th:value="${recipe.id}"/>
                        <input type="hidden" name="searchType" th:value="${searchType}"/>
                        <input type="hidden" name="productName" th:value="${productName}"/>
                        <input type="hidden" name="recipeName" th:value="${recipeName}"/>
                        <input type="hidden" name="page" th:value="${page != null ? page.number : 0}"/>
                        <input type="hidden" name="size" th:value="${page != null ? page.size : 1}"/>
                        <button type="submit" value="Добави в любими" id="addToFavoriteBtn">
                            <img class="heart-icon" src="/images/emptyHearth.png" height="20px" width="20px"
                                 alt="Empty hearth">
                        </button>
                    </form>
                </div>

                <div th:if="${favoritesMap[recipe.id] == true}">
                    <form id="removeFromFavoriteForm" th:action="@{/removeFromFavorite}" method="post">
                        <input type="hidden" name="recipeId" th:value="${recipe.id}"/>
                        <input type="hidden" name="searchType" th:value="${searchType}"/>
                        <input type="hidden" name="productName" th:value="${productName}"/>
                        <input type="hidden" name="recipeName" th:value="${recipeName}"/>
                        <input type="hidden" name="page" th:value="${page != null ? page.number : 0}"/>
                        <input type="hidden" name="size" th:value="${page != null ? page.size : 1}"/>
                        <button type="submit" value="Махни от любими" id="removeFromFavoriteBtn">
                            <img class="heart-icon" src="/images/filledHearth.png" height="20px" width="20px"
                                 alt="Filled hearth">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <h5>Необходими продукти:</h5>
        <div th:each="ingredient : ${recipe.getIngredients()}">
            <p th:text="${ingredient.toString()}" style="margin-top: -10px"></p>
        </div>
        <a type="button" id="toggleBtn" onclick="toggleContent(this)">Цъкни за цялата рецепта</a>
        <p th:text="${recipe.preparationDescription}" class="full-content d-none">Full Preparation Description</p>
    </div>
</div>

<script>

    function toggleContent(button) {
        const fullContent = button.nextElementSibling;
        if (fullContent.classList.contains('d-none')) {
            fullContent.classList.remove('d-none');
            button.style.display = 'none';
        } else {
            fullContent.classList.add('d-none');
            button.textContent = 'Show more';
        }
    }

    //     ==========================
    document.addEventListener('DOMContentLoaded', function () {

        function attachEventListeners() {
            const forms = document.querySelectorAll("form[id^='addToFavoriteForm'], form[id^='removeFromFavoriteForm']");

            forms.forEach(function (form) {
                if (!form.hasAttribute('data-listener-attached')) {
                    form.addEventListener('submit', handleFormSubmit);
                    form.setAttribute('data-listener-attached', 'true');
                }
            });
        }


        function handleFormSubmit(event) {
            event.preventDefault();
            let formData = new FormData(this);

            fetch(this.action, {
                method: 'POST',
                body: formData
            }).then(response => {
                if (!response.ok) {
                    throw new Error('An error occurred, please try again later.');
                }
                return response.json();
            }).then(data => {
                if (data.success) {
                    updateFavoritesMap(data.favoritesMap);
                } else {
                    console.error('Error: Response indicates failure', data);
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred, please try again later.');
            });
        }


        function updateFavoritesMap(favoritesMap) {
            document.querySelectorAll('[data-recipe-id]').forEach(function (element) {
                const recipeId = element.getAttribute('data-recipe-id');
                const isFavorite = favoritesMap[recipeId];
                const heartIcon = element.querySelector('.heart-icon');

                if (isFavorite) {
                    heartIcon.src = '/images/filledHearth.png';
                    heartIcon.alt = 'Remove from Favorites';
                } else {
                    heartIcon.src = '/images/emptyHearth.png';
                    heartIcon.alt = 'Add to Favorites';
                }
            });
            attachEventListeners();
            window.location.reload();
        }

        attachEventListeners();
    });
</script>


</body>
<style>
    #recipeResult {
        text-align: center;
        border: 1px solid #ffc107;
        margin: 10px;
        border-radius: 10px;
    }

    #results {
        margin-left: 33%;
        pointer-events: auto;
    }


    .d-none {
        opacity: 0;
        pointer-events: none;
    }

    .btn {
        color: black;
    }

    #toggleBtn {
        color: brown;
        text-decoration: underline;
    }
    #addToFavoriteBtn, #removeFromFavoriteBtn {
        border: #ffc107 1px solid;
        border-radius: 20%;
    }
</style>
</html>